*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.container{
  background: linear-gradient(135deg, #43C6AC, #F8FFAE);
 height: 900px;
 display: flex;
 text-align: center;
}
.heading{
  font-size: 42px;
    padding: 20px;
    color: yellow;
    text-align: justify;
    padding-left: 180px;
}
.child{
  flex: 2;
  
}
.tasklist{
  margin-top: 5px;
  text-align: center;
}
.task{
  background-color: aliceblue;
  padding: 10px;
  list-style: none;
  font-size: 22px;
  margin-left: 3rem;
  margin: 10px ;
  cursor: pointer;
}
.task:hover{
  background: #e7e7e7;
}
.btn{
  height: 40px;
  width: 30px;
  font-size: 28px;
  font-weight: 700;
  border: none;
  position: relative;
  top: 7px;
  left: 91px;
  background: forestgreen;
  color: white;
}

.addtask{
  height: 34px;
    margin-left: 103px;
    border-color: cyan;

}
.addtask:hover{
   border-color: green;
}
.addtasksave{
  height: 40px;
  width: 70px;
  background-color: lightskyblue;
  border: none;
  margin-left: -80px;
  margin-top: 10px;
  cursor: pointer;
  position: relative;
  top: 48px;
  right: 80px;
  color: green;
  border-radius: 10px;
}
.addtaskclose{
  height: 40px;
    width: 70px;
    background-color: lightskyblue;
    border: none;
    margin-left: 60px;
    cursor: pointer;
    position: relative;
    top: 50px;
    right: 110px;
    color: red;
    border-radius: 10px;
}
#taskerr{
  color: red;
}
li {
  
}
.deletetask{
    background-color: red;
    color: white;
    font-size: 16px;
    border: none;
    height: 30px;
    width: 70px;
    border-radius: 10px;
    margin-left: 20px;
    cursor: pointer;
}
#little{
  /* background: #f1f1f1;
  padding: 10px;
  margin: 10px 0;
  border-radius: 4px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 16px; */
}